@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to ShopShop</h1>
	<div>
		<form method="get">
			<div class="form-group">
				<label asp-for="searchTerm" class="control-label"></label>
				<input asp-for="searchTerm" class="form-control" />
				<span asp-validation-for="searchTerm" class="text-danger"></span>
				<input type="submit" value="Search" class="btn btn-primary" />
			</div>

		</form>
	</div>
	<div class="">
		@foreach (var item in Model.Products)
		{
			<p>@item.Name</p><br />
		}
	</div>
	<div>
		<ul class="pagination">
			@for (int i = 1; i <= Model.totalPages; i++)
			{
				<li class="page-item @(i == Model.pageCurrent ? "active" : "")">
					<a asp-page="/Index" asp-route-pagecurrent="@i" asp-route-searchterm="@Model.searchTerm" class="page-link">@i</a>
				</li>
			}
		</ul>
	</div>
</div>
